<h1> <%=  currentUser.name%>'s Profile</h1>


<% faves.forEach(fave =>{ %>
    <p> <%=  fave.name %> </p>
    <p> <%=  fave.rated %> </p>
    <p> <%=  fave.rating %> </p>
    <p> <%=  fave.mal_id %> </p>
    <img src="<%=  fave.imageurl %>" />
    <form action="/profile/edit > "method="POST">
            <% if (currentUser.id === fave.id){ %>

                <%  } %>
                <input type="submit" value="Delete" />
            </form>
            
    
<% })%>